In [1]:
import pandas as pd
import numpy as np
import os.path as path

root_dp = "/Users/simonvermeir/Documents/industrial-engineering/SchoolCurrent/MasterProef/Master-Thesis-SSP"

df = pd.read_csv(path.join(root_dp, "data/results/temp.csv"))

df

,instance,run_type,run,n_jobs,n_tools,magazine_size,variation,n_switches,run_time,author
0,yan_8_15_10_1,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,0,8,15,10,1,5,4.239,yan
1,yan_8_15_10_2,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,0,8,15,10,2,5,6.194,yan
2,yan_8_15_10_3,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,0,8,15,10,3,5,5.201,yan
3,yan_8_15_10_4,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,0,8,15,10,4,5,4.859,yan
4,yan_8_15_10_5,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,0,8,15,10,5,5,4.779,yan
...,...,...,...,...,...,...,...,...,...,...
65,cat_40_60_30_6,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,0,40,60,30,6,101,1000.383,cat
66,cat_40_60_30_7,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,0,40,60,30,7,89,1000.424,cat
67,cat_40_60_30_8,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,0,40,60,30,8,80,1000.379,cat
68,cat_40_60_30_9,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,0,40,60,30,9,89,1000.458,cat
69,cat_40_60_30_10,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,0,40,60,30,10,94,1000.481,cat

In [2]:
a = {
    'n_switches': 'mean',
    'run_time': 'mean'
}

variationsGrouped = df.groupby(["author", "n_jobs", "n_tools", "magazine_size", "run","run_type"], as_index=False).agg(a)
variationsGrouped

,author,n_jobs,n_tools,magazine_size,run,run_type,n_switches,run_time
0,cat,15,20,12,0,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,7.200000,20.302800
1,cat,30,40,17,0,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,66.700000,958.509900
2,cat,40,60,30,0,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,89.600000,1000.417900
3,cram,30,40,25,0,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,29.400000,965.030500
4,yan,8,15,10,0,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,6.833333,7.060067

In [3]:

ab = {
    'n_switches': ['min', 'mean'],
    'run_time': ['min', 'mean'],
}


runsGrouped = variationsGrouped.groupby(["author","n_jobs","n_tools","magazine_size","run_type"], as_index=False).agg(ab)
runsGrouped

  author n_jobs n_tools magazine_size  \

0    cat     15      20            12
1    cat     30      40            17
2    cat     40      60            30
3   cram     30      40            25
4    yan      8      15            10

                                   run_type n_switches             \
                                                   min       mean
0  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED   7.200000   7.200000
1  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  66.700000  66.700000
2  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  89.600000  89.600000
3  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  29.400000  29.400000
4  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED   6.833333   6.833333

      run_time
           min         mean
0    20.302800    20.302800
1   958.509900   958.509900
2  1000.417900  1000.417900
3   965.030500   965.030500
4     7.060067     7.060067

In [4]:
#rename and unpack

In [5]:

reference = pd.read_csv(path.join(root_dp, "data/reference/reference.csv"))
reference

,author,n,m,C,i,Best_ILS,Avg_ILS,T_ILS,Best_DQGA,Avg_DQGA,T_DQGA,Best_HGS,Avg_HGS,T_HGS
0,cat,10,10,4,10,8.5,8.50,0.09,8.5,8.50,0.19,8.5,8.50,0.07
1,cat,10,10,5,10,5.8,5.80,0.09,5.8,5.80,0.19,5.8,5.80,0.06
2,cat,10,10,6,10,4.1,4.10,0.05,4.1,4.10,0.22,4.1,4.10,0.06
3,cat,10,10,7,10,3.0,3.00,0.04,3.0,3.00,0.25,3.0,3.00,0.05
4,cat,15,20,6,10,20.5,20.50,1.06,20.5,20.72,1.85,20.5,20.50,0.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,yan,10,10,7,10,3.0,3.00,3.79,3.0,3.00,0.03,3.0,3.00,0.06
90,yan,15,20,6,10,21.4,21.71,7.79,21.4,21.40,0.75,21.4,21.40,0.92
91,yan,15,20,8,10,14.2,14.33,8.43,14.2,14.20,0.87,14.2,14.21,0.84
92,yan,15,20,10,10,10.3,10.34,13.96,10.3,10.30,0.67,10.3,10.30,0.72
93,yan,15,20,12,10,8.2,8.20,16.44,8.2,8.20,0.60,8.2,8.20,0.69

In [6]:
reference = reference.set_index(['author','n','m','C'])
reference

                  i  Best_ILS  Avg_ILS  T_ILS  Best_DQGA  Avg_DQGA  T_DQGA  \
author n  m  C
cat    10 10 4   10       8.5     8.50   0.09        8.5      8.50    0.19
             5   10       5.8     5.80   0.09        5.8      5.80    0.19
             6   10       4.1     4.10   0.05        4.1      4.10    0.22
             7   10       3.0     3.00   0.04        3.0      3.00    0.25
       15 20 6   10      20.5    20.50   1.06       20.5     20.72    1.85
...              ..       ...      ...    ...        ...       ...     ...
yan    10 10 7   10       3.0     3.00   3.79        3.0      3.00    0.03
       15 20 6   10      21.4    21.71   7.79       21.4     21.40    0.75
             8   10      14.2    14.33   8.43       14.2     14.20    0.87
             10  10      10.3    10.34  13.96       10.3     10.30    0.67
             12  10       8.2     8.20  16.44        8.2      8.20    0.60

                Best_HGS  Avg_HGS  T_HGS
author n  m  C
cat    10 10 4       8.5     8.50   0.07
             5       5.8     5.80   0.06
             6       4.1     4.10   0.06
             7       3.0     3.00   0.05
       15 20 6      20.5    20.50   0.88
...                  ...      ...    ...
yan    10 10 7       3.0     3.00   0.06
       15 20 6      21.4    21.40   0.92
             8      14.2    14.21   0.84
             10     10.3    10.30   0.72
             12      8.2     8.20   0.69

[94 rows x 10 columns]

In [7]:
multi: pd.DataFrame = runsGrouped.set_index(['author','n_jobs','n_tools','magazine_size'])

multi

                                                                     run_type  \

author n_jobs n_tools magazine_size
cat    15     20      12             RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED
       30     40      17             RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED
       40     60      30             RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED
cram   30     40      25             RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED
yan    8      15      10             RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED

                                    n_switches                run_time  \
                                           min       mean          min
author n_jobs n_tools magazine_size
cat    15     20      12              7.200000   7.200000    20.302800
       30     40      17             66.700000  66.700000   958.509900
       40     60      30             89.600000  89.600000  1000.417900
cram   30     40      25             29.400000  29.400000   965.030500
yan    8      15      10              6.833333   6.833333     7.060067


                                            mean
author n_jobs n_tools magazine_size
cat    15     20      12               20.302800
       30     40      17              958.509900
       40     60      30             1000.417900
cram   30     40      25              965.030500
yan    8      15      10                7.060067

In [8]:
merged = pd.merge(multi,reference, left_index=True, right_on=['author','n','m','C'])
merged

/Users/simonvermeir/Documents/industrial-engineering/SchoolCurrent/MasterProef/Master-Thesis-SSP/venv/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

                                             (run_type, )  (n_switches, min)  \
author n  m  C
cat    15 20 12  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED           7.200000
       30 40 17  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED          66.700000
       40 60 30  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED          89.600000
cram   30 40 25  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED          29.400000
yan    8  15 10  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED           6.833333

                 (n_switches, mean)  (run_time, min)  (run_time, mean)   i  \
author n  m  C
cat    15 20 12            7.200000        20.302800         20.302800  10
       30 40 17           66.700000       958.509900        958.509900  10
       40 60 30           89.600000      1000.417900       1000.417900  10
cram   30 40 25           29.400000       965.030500        965.030500  10
yan    8  15 10            6.833333         7.060067          7.060067  30

                 Best_ILS  Avg_ILS    T_ILS  Best_DQGA  Avg_DQGA   T_DQGA  \
author n  m  C
cat    15 20 12      7.20     7.20     0.69       7.20      7.20     0.90
       30 40 17     65.50    65.82   132.97      65.50     66.74   223.35
       40 60 30     85.20    85.42  1473.24      85.20     87.22  1296.50
cram   30 40 25     27.90    28.14   142.41      27.70     28.64   189.77
yan    8  15 10      6.83     6.83     2.91       6.83      6.83     0.07

                Best_HGS  Avg_HGS   T_HGS
author n  m  C
cat    15 20 12      7.2     7.20    0.60
       30 40 17     65.4    65.43   71.77
       40 60 30     84.3    84.66  484.14
cram   30 40 25    27.80    28.02   62.61
yan    8  15 10     6.83     6.83    0.04

In [9]:
merged = merged.rename(columns={
    ('run_type', ''): 'run_type',
    ('n_switches', 'min'): 'Best_LS',
    ('n_switches', 'mean'): 'Avg_LS',
    ('run_time', 'min'): 'T_LS',
     ('run_time', 'mean'): 'T_LS_AVG',    

})
merged

                                                 run_type    Best_LS  \
author n  m  C
cat    15 20 12  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED   7.200000
       30 40 17  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  66.700000
       40 60 30  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  89.600000
cram   30 40 25  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  29.400000
yan    8  15 10  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED   6.833333

                    Avg_LS         T_LS     T_LS_AVG   i  Best_ILS  Avg_ILS  \
author n  m  C
cat    15 20 12   7.200000    20.302800    20.302800  10      7.20     7.20
       30 40 17  66.700000   958.509900   958.509900  10     65.50    65.82
       40 60 30  89.600000  1000.417900  1000.417900  10     85.20    85.42
cram   30 40 25  29.400000   965.030500   965.030500  10     27.90    28.14
yan    8  15 10   6.833333     7.060067     7.060067  30      6.83     6.83

                   T_ILS  Best_DQGA  Avg_DQGA   T_DQGA Best_HGS  Avg_HGS  \
author n  m  C
cat    15 20 12     0.69       7.20      7.20     0.90      7.2     7.20
       30 40 17   132.97      65.50     66.74   223.35     65.4    65.43
       40 60 30  1473.24      85.20     87.22  1296.50     84.3    84.66
cram   30 40 25   142.41      27.70     28.64   189.77    27.80    28.02
yan    8  15 10     2.91       6.83      6.83     0.07     6.83     6.83

                  T_HGS
author n  m  C
cat    15 20 12    0.60
       30 40 17   71.77
       40 60 30  484.14
cram   30 40 25   62.61
yan    8  15 10    0.04

In [10]:
merged.drop(merged.columns[[4]], axis=1, inplace=True)
#print(merged.to_latex(index=True))
merged

                                                 run_type    Best_LS  \
author n  m  C
cat    15 20 12  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED   7.200000
       30 40 17  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  66.700000
       40 60 30  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  89.600000
cram   30 40 25  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  29.400000
yan    8  15 10  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED   6.833333

                    Avg_LS         T_LS   i  Best_ILS  Avg_ILS    T_ILS  \
author n  m  C
cat    15 20 12   7.200000    20.302800  10      7.20     7.20     0.69
       30 40 17  66.700000   958.509900  10     65.50    65.82   132.97
       40 60 30  89.600000  1000.417900  10     85.20    85.42  1473.24
cram   30 40 25  29.400000   965.030500  10     27.90    28.14   142.41
yan    8  15 10   6.833333     7.060067  30      6.83     6.83     2.91

                 Best_DQGA  Avg_DQGA   T_DQGA Best_HGS  Avg_HGS   T_HGS
author n  m  C
cat    15 20 12       7.20      7.20     0.90      7.2     7.20    0.60
       30 40 17      65.50     66.74   223.35     65.4    65.43   71.77
       40 60 30      85.20     87.22  1296.50     84.3    84.66  484.14
cram   30 40 25      27.70     28.64   189.77    27.80    28.02   62.61
yan    8  15 10       6.83      6.83     0.07     6.83     6.83    0.04

In [11]:
#keep min value and add the percentage difference
col = ['n',
                    'm',
                    'C',
                    'i',
                    'Best_ILS',
                    'Avg_ILS',
                    'T_ILS',
                    'Best_DQGA',
                    'Avg_DQGA',
                    'T_DQGA',
                    'Best_HGS',
                    'Avg_HGS',
                    'T_HGS'
                    ]


min_sw_col = ['Best_ILS','Avg_ILS','Best_DQGA','Avg_DQGA','Best_HGS','Avg_HGS']
min_t_col = ['T_ILS','T_DQGA','T_HGS']

merged['Best_C'] = merged[min_sw_col].min(axis=1)
merged['T_C'] = merged[min_t_col].min(axis=1)


merged

                                                 run_type    Best_LS  \
author n  m  C
cat    15 20 12  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED   7.200000
       30 40 17  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  66.700000
       40 60 30  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  89.600000
cram   30 40 25  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  29.400000
yan    8  15 10  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED   6.833333

                    Avg_LS         T_LS   i  Best_ILS  Avg_ILS    T_ILS  \
author n  m  C
cat    15 20 12   7.200000    20.302800  10      7.20     7.20     0.69
       30 40 17  66.700000   958.509900  10     65.50    65.82   132.97
       40 60 30  89.600000  1000.417900  10     85.20    85.42  1473.24
cram   30 40 25  29.400000   965.030500  10     27.90    28.14   142.41
yan    8  15 10   6.833333     7.060067  30      6.83     6.83     2.91

                 Best_DQGA  Avg_DQGA   T_DQGA Best_HGS  Avg_HGS   T_HGS  \
author n  m  C
cat    15 20 12       7.20      7.20     0.90      7.2     7.20    0.60
       30 40 17      65.50     66.74   223.35     65.4    65.43   71.77
       40 60 30      85.20     87.22  1296.50     84.3    84.66  484.14
cram   30 40 25      27.70     28.64   189.77    27.80    28.02   62.61
yan    8  15 10       6.83      6.83     0.07     6.83     6.83    0.04

                 Best_C     T_C
author n  m  C
cat    15 20 12    7.20    0.60
       30 40 17   65.43   71.77
       40 60 30   84.66  484.14
cram   30 40 25   27.70   62.61
yan    8  15 10    6.83    0.04

In [12]:

merged.drop(min_sw_col,axis=1, inplace=True)
merged.drop(min_t_col, axis=1, inplace=True)
merged

                                                 run_type    Best_LS  \
author n  m  C
cat    15 20 12  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED   7.200000
       30 40 17  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  66.700000
       40 60 30  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  89.600000
cram   30 40 25  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED  29.400000
yan    8  15 10  RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED   6.833333

                    Avg_LS         T_LS   i  Best_C     T_C
author n  m  C
cat    15 20 12   7.200000    20.302800  10    7.20    0.60
       30 40 17  66.700000   958.509900  10   65.43   71.77
       40 60 30  89.600000  1000.417900  10   84.66  484.14
cram   30 40 25  29.400000   965.030500  10   27.70   62.61
yan    8  15 10   6.833333     7.060067  30    6.83    0.04

In [13]:
merged['Best_DIF'] = (1 - ( merged['Best_LS'] / merged['Best_C'])) * 100
merged['T_DIF'] = ( 1 -  (merged['T_LS'] / merged['T_C'] ) ) * 100
merged


merged.to_csv()

'author,n,m,C,run_type,Best_LS,Avg_LS,T_LS,i,Best_C,T_C,Best_DIF,T_DIF\ncat,15,20,12,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,7.2,7.2,20.302799999999998,10,7.2,0.6,0.0,-3283.8\ncat,30,40,17,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,66.7,66.7,958.5099,10,65.43,71.77,-1.9410056548983645,-1235.530026473457\ncat,40,60,30,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,89.6,89.6,1000.4179,10,84.66,484.14,-5.835105126387896,-106.63814185979264\ncram,30,40,25,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,29.4,29.4,965.0305000000001,10,27.7,62.61,-6.137184115523464,-1441.336048554544\nyan,8,15,10,RR-MULTI-CROSS-BLOCK-favorCross-SA-TUNED,6.833333333333333,6.833333333333333,7.060066666666668,30,6.83,0.04,-0.048804294777937685,-17550.166666666668\n'